:host {
  display: inline-flex;
}

:host.dp-full {
  display: flex;
  width: 100%;
}

:host.dp-full .twang-dp-root {
  width: 100%;
}

:host.dp-full .twang-dp-row {
  width: 100%;
}

:host.dp-full .twang-dp-trigger {
  flex: 1;
}
